<div class="country-summary">
  <h3>Interest Points</h3>
  <div class="table-responsive">
    <table class="table table-hover">
      <tbody>
        <tr *ngFor="let interestPoint of this.countryPath?.interestPoints; let i = index;">
          <th class="nopadding">
            <app-interest-point-cell [index]="i" [interestPoints]="this.countryPath?.interestPoints" (interestPointChange)="onCountryPathChange($event)">
            </app-interest-point-cell>
          </th>
        </tr>
      </tbody>
    </table>
  </div>
</div>