<div class="country-summary">
  <h3>Interest Points</h3>
  <div class="table-responsive">
    <table class="table table-hover" *ngFor="let countryPath of this.countryPaths;">
      <tbody>
        <tr *ngFor="let interestPoint of countryPath?.interestPoints; let i = index;">
          <th class="nopadding">
            <app-interest-point-cell [index]="i" [interestPoints]="this.countryPath?.interestPoints" (interestPointChange)="onCountryPathChange($event, countryPath)">
            </app-interest-point-cell>
          </th>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="this.countryPaths && this.countryPaths.length > 0">
    <h3>Go to...</h3>
    <div *ngIf="this.countryPaths[0].getPreviousCountry()">
      <h5>Previous Country</h5>
      <a (click)="onCountryPathSelected(this.countryPaths[0].getPreviousCountry())">{{(getCountryOfCountryPath(this.countryPaths[0].getPreviousCountry()) | async).name}}</a>
    </div>
    <div *ngIf="this.countryPaths[this.countryPaths.length - 1].getNextCountry()">
      <h5>Next Country</h5>
      <a (click)="onCountryPathSelected(this.countryPaths[this.countryPaths.length - 1].getNextCountry())">{{(getCountryOfCountryPath(this.countryPaths[this.countryPaths.length - 1].getNextCountry()) | async).name}}</a>
    </div>
  </div>
</div>
