<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->

<ngui-map
    [center]="mapProps.center"
    [zoom]="mapProps.zoom"
    [geoFallbackCenter]="[22.01, -37.05]"
    [disableDoubleClickZoom]="true"
    (mapReady$)="onMapReady($event)"
    (mapdblClick)="onMapDbClick($event)"
    class="ngmap">
     <!--<marker *ngFor="let pos of positions" [position]="pos" (mouseover)="onMarkerOver($event)">
       <info-window id="iw">
        <button (click)="hideMarkerInfo()">Hide Info</button>
      </info-window>
     </marker>-->
      <marker *ngFor="let interestPoint of interestPoints; let i = index" [position]="getPositionOf(interestPoint)"
        (mouseover)="onMarkerOver($event, i)"
        (mouseout)="hideMarkerInfo($event, i)">
       <info-window id="iw_{{i}}">
        <div>
         {{interestPoint.name}}
        </div>
      </info-window>
     </marker>
     <polyline *ngFor="let path of polylinePaths" [editable]="false"
      [path]="path"
      [geodesic]="true"
      [strokeColor]="'#FF0000'"
      [strokeOpacity]="1"
      (initialized$)="onPolyLineReady($event)"
      [strokeWeight]="2"></polyline>
</ngui-map>
