/*
 * Below are Cascading Style Sheet (CSS) definitions in use in this file,
 * which allow easily changing how countries are displayed.
 *
 */

/*
 * circles around small countries
 *
 * Change opacity to 1 to display all circles.
 *
 */
.circlexx
{
  opacity:0;
  fill:#e0e0e0;
  stroke:black;
  stroke-width:0.5;
  fill-rule:evenodd;
}

/*
 * Smaller circles around French DOMs and Chinese SARs
 *
 * Change opacity to 1 to display all subnational circles.
 *
 */
.subxx
{
  opacity:0;
  stroke-width:0.3;
}

/*
 * land
 */
.landxx
{
  fill: #ccc;
  stroke:#fff;
  stroke-width:0.5;
  fill-rule:evenodd;
}

/*
 * Styles for coastlines of islands with no borders
 */
.coastxx
{
  stroke-width: 0.3;
}

/*
 * Styles for nations with limited recognition
 */
.limitxx
{
  fill: #e0e0e0;
  stroke:#ffffff;
  stroke-width:0;
  fill-rule:evenodd;
}

/*
 * Sea
 */
.aa
{
  opacity: 1;
  color: #000;
  fill:#fff;
  stroke:#000;
  stroke-width:0.5;
  stroke-miterlimit:1;
}

/*
 * Additional style rules
 *
 * The following are examples of colouring countries.  You can substitute these with your own styles to colour the countries on the map.
 *
 * Color a few countries:
 *
 * .gb, .au, .nc
 * {
 *    fill:       #ff0000;
 * }
 *
 * Color a few small country circles (and the countries):
 *
 * .ms, .ky
 * {
 *    opacity:    1;
 *    fill:       #ff0000;
 * }
 *
 */
