.navigation-pannel{
  vertical-align: top;
  width: 20vw;
  display:inline-block;
  white-space: normal;
  text-align: center;
  color: darkslategrey;
  padding: 0 10px;
  margin:0;
  background-color: transparent;
}
