.navigation-pannel { 
  font-size: 14px;
  vertical-align: top;
  width: 20vw;
  display: inline-block;
  white-space: normal;
  color: darkslategrey;
  padding: 0 10px;
  margin:0;
  margin-top: 20px;
  background-color: transparent;
}

.description {
  margin-top: 20px;
}
