<div bsModal #childModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Please chose a name for the trip</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="overflow:hidden">
         <input [(ngModel)]="tripName" type="text" class="form-control" style="margin-bottom:10px"/>
         <button type="button" class="btn btn-success pull-right" (click)="closeAndSubmitNewTrip()">OK</button>
      </div>
    </div>
  </div>
</div>